sudo: required 
language: cpp
services:
  - docker
env:
  global:
    secure:  "WY171BHizxZa7PGkAxAefYXrTGxt+vQZz9zaxoBFhJVdVV71Bzrf2abwpf9P4Irdg8T8q603zzL/QNi6ewiGMK2SVE7zlEqzmcKSgYARkbfbRDoD0me/+5eundRgOJ9WFLZ4O84QXy44ag4BWhVlPfN/j/pnri/AIfeCPHi2M5BTfl07ZoDc2pn/WVMZw40MsIvp96Ftw8bqmvtZXWFjmhZX4Q1SHsPNM84W6ytBfUGPyc37SOuqRJt45/BPNwOjeWNUsB0NskKMiNdrAes2Ahk7xNyF9y9PWKhlBJaeyzUi0Fphoz49MmkWFaAbhmZ+/fH+CH1vetfIL2g+afwNSou8Dg4TbwVbw7j3jmZwFpMGcaJCtmRnQZ4y7Kk5r9hVL0e4ZAy4tAbJ5TpXKdSE6oxVMLxB4ONiYxn1iENKpPUxy7422HOEQqcAq0kYTD5mD08v4nbCivlDYckoy1qan7gabRK6Hc5PssD4mlYsCSGPo1wcmUVi8wXqdtsS7rs/zVODJWeyTFJgjbM0Cfc4MK2eoKZmMh/6QzC+NsDre6ubd2HAz/EqhWib6HcOpez2k2vzMRSSlrlv2iX//BqouJJ/2/G0wLPM0ckMvwH+0AwrL85L21bQZw0vTVKYCjMibCiD1FYrb6XZ99xX4e3d1/5LpMYDl+TCVeWcOltfjEI=" #BINTRAY_KEY

before_install:
  - mkdir $(pwd)/build
  - docker pull spielhuus/toolchain:latest
script:
  - sudo docker run -itd -v $(pwd)/repo:/repo --name conan_build spielhuus/toolchain /bin/bash 
  - sudo docker exec conan_build /bin/bash -c "git clone https://github.com/spielhuus/conan-ffmpeg.git /repo"
  - sudo docker exec conan_build /bin/bash -c "conan user -p $BINTRAY_KEY -r conan-cpp squawkcpp"
  - sudo docker exec conan_build /bin/bash -c "cd /repo && conan export . conan-cpp/latest && conan install ffmpeg/3.4.2@conan-cpp/latest --build=ffmpeg && conan upload ffmpeg/3.4.2@conan-cpp/latest --all -r=conan-cpp"
  - sudo docker rm -f conan_build

